{% extends "layout.html" %}
{% block content %}

<a href="/main">Return to mainpage</a>

<form action="/register" method="POST">
  <p>Name:<br>
  <input type="text" name="name"></p>
  <label for="usergroup">Usergroup:</label>
  <select name="usergroup" id="usergroup">
    <option value="normal">Normal</option>
    <option value="admin">Admin</option>
  </select>
  <p>Username:<br>
  <input type="text" name="username"></p>
  <p>Password:<br>
  <input type="text" name="password"></p>
  <p>Confirm password:<br>
  <input type="text" name="passwordConf"></p>
  <input type="submit" value="Add">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% if error %}
<p class=error><strong>Error:</strong> {{ error }} </p>
{% endif %}
{% endblock %}