{% extends "layout.html" %}
{% block content %}

<a href="/main">Return to mainpage</a>

<form action="/updateJob?event={{ job[0] }}" method="POST">
  <p>Event name:<br>
  <input type="text" name="name" value="{{ job[1] }}"></p>
  <p>Time:<br>
  <input type="datetime-local" name="time" value="{{ job[2] }}"></p>
  <p>Location:<br>
  <input type="text" name="location" value="{{ job[3] }}"></p>

  <p>Participants:<br>
  {% for participant in participants %}
    <input type="checkbox" id="participant{{ participant[0] }}" name="participants" value="{{ participant[0] }}" {% if participant[0] | string in participantIds%}checked{% endif %}>
    <label for="participant{{ participant[0] }}"> {{ participant[1] }}</label><br>
  {% endfor %}
  <input type="submit" value="Update">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% if error %}
<p class=error><strong>Error:</strong> {{ error }} </p>
{% endif %}
{% endblock %}