{% extends "layout.html" %}
{% block content %}
{% if session.username %}
<meta http-equiv="refresh" content="0; URL=/main" />
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% if error %}
<p class=error><strong>Error:</strong> {{ error }} </p>
{% endif %}
</form>
{% endif %}
{% endblock %}