<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<title>Keikkakalenteri</title>
<h1>Keikkakalenteri</h1>

{% if session.username %}
  <p>You are logged in as {{ name }}</p>
  {% if isAdmin %}
    <a href="/add_new_user">Add a new user</a>
    <a href="/jobEditor">Add a new event</a>
  {% endif %}
  <a href="/logout">Log out</a>
  <h2>Keikat käyttäjälle {{ name }}:</h2>
  <table>
    <tr>
      <th>Event</th>
      <th>Time</th>
      <th>Location</th>
      <th>{% if isAdmin %}Participants{% else %}Status{% endif %}</th>
      {% if isAdmin %}
      <th>Actions</th>
      {% endif %}
    </tr>
    {% for job in jobs: %}
      <tr>
        <td>{{ job[1] }}</td>
        <td>{{ job[2] }}</td>
        <td>{{ job[3] }}</td>
        <td>
          {% if isAdmin %}
            <table>
              {% for participant in job[4] %}
                <tr>
                  <td>{{ participant[1] }}</td>
                  <td>{{ participant[2] }}</td>
                  <td><a href="/deleteParticipant?event={{ job[0] }}&participant={{ participant[0] }}">Delete</a></td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            {% if job[4][0][2] == 'Waiting' %}
              Waiting,
              <a href="/accept?event={{ job[0] }}&participant={{ job[4][0][0] }}">Click to accept</a>
            {% else %}
              Accepted
            {% endif %}
          {% endif %}
        </td>
        {% if isAdmin %}
        <td>
          <a href="/jobEditor?event={{ job[0] }}">Edit</a>,<br>
          <a href="/deleteEvent?event={{ job[0] }}">Delete</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% else %}
  <meta http-equiv="refresh" content="0; URL=/" />
{% endif %}